<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card">
			<div class="card-header">
				<h2 class="center">Create Recipe</h2>
			</div>

			<%= form_for @recipe do |f| %>
				<% if @recipe.errors.any? %>
				<div id="errors">
					<p><%= @recipe.errors.count %> Prevented this recipe from saving </p>
				</div>
				<% end %>
				<ul>
					<% @recipe.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				</ul>
				<% end %>
				<div class="card-body">
					<%= f.label :title %>
					<%= f.text_field :title, class: "form-control" %>
					<%= f.label :description %>
					<%= f.text_field :description, class: "form-control" %>
					<%= f.label :add_image %> <br>
					<%= f.file_field :image %>
					<hr>
			    <div class="form-group">
			      <label class="control">Categories</label> <br>
            <div class="collection-check-box">
              <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name, checked: @recipe.categories.map(&:id)) do |c| %>
								<%= c.check_box %> <%= c.label %>
              <% end %>
					    </div>
			    </div>
					<%= f.submit class: "btn btn-primary" %>
			  </div>
			<% end %>
		</div>
		<%= link_to "Back", root_path %>
	</div>
</div>
